<div class="">
</div>

<header>
  <nav class="navbar">
    <a class="navbar__brand" href="/"><img
        src="/image/brand.svg"
        alt="Brand"
      />
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="/" class="<%= path === '/home' ? 'active' : ''%>"> Home</a>
      </li>
        {{#if (compare4 role)}}
      <li class="navbar__item">
        <a
          href="/attendance"
          class="<%= path === '/attendance' ? 'active' : ''%>"
        > Timekeeping 
      </li>
      <li class="navbar__item">
        <a
          href="/staff/infoStaff"
          class="<%= path === '/staff/infoStaff' ? 'active' : ''%>"
        >Infomation</a>
      </li>
      <li class="navbar__item">
        <a
          href="/staff/reference"
          class="<%= path === '/staff/reference' ? 'active' : ''%>"
        >Reference</a>
      </li>
      <li class="navbar__item">
        <a
          href="/covidDetail"
          class="<%= path === '/covid' ? 'active' : ''%>"
        >Covid Detail</a>
      </li>
        {{else}}
      <li class="navbar__item">
        <a
          href="/manageCovid"
          class="<%= path === '/manageCovid' ? 'active' : ''%>"
        >Manage Covid </a>
      </li>
      <li class="navbar__item">
          <a href="/manageStaff" class="<%= path === '/manageStaff' ? 'active' : ''%>">Manage Staff</a>
      </li>
      {{/if}}
    </ul>
    <ul class="navbar__list" style="margin-left:auto">
        {{#if isLoggedIn}}
        <li class="navbar__item">
          <form action="/auth/logout" method="post">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <button type="submit">Log Out</button>
          </form>
        </li>
        {{else}}
        <li class="navbar__item">
          <a href="/auth/login" class="<%= path === '/login' ? 'active' : ''%>" >Login</a>
        </li>
      
        {{/if}}
    </ul>
    <button class="side-menu-toggle">Menu</button>
  </nav>
</header>
  
<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item">
      <a href="/" class="<%= path === '/home' ? 'active' : ''%>"> Home</a>
    </li>
    <li class="mobile-nav__item">
      <a href="/attendance" class="<%= path === '/attendace' ? 'active' : ''%>">
        Timekeeping</a>
    </li>
    <li class="mobile-nav__item">
      <a
        href="/staff/infoStaff"
        class="<%= path === '/staff/infoStaff' ? 'active' : ''%>"
      >Infomation</a>
    </li>
    <li class="mobile-nav__item">
      <a
        href="/staff/reference"
        class="<%= path === '/staff/reference' ? 'active' : ''%>"
      >Reference</a>
    </li>
    <li class="mobile-nav__item">
      <a
        href="/covidDetail"
        class="<%= path === '/covid' ? 'active' : ''%>"
      >Covid Detail</a>
    </li>
  </ul>
</nav>